@page
@model LoginModel

<h2>Login</h2>
<section>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" />
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div>
            <div>
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
        <div>
            <p>
                <a asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</section>
<hr />
<section>

    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>no external login</div>
        }
        else
        {
            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
